.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #fff;
  box-shadow: 0 2px 8px black;
}


.logo-img {
  width: 50px;
  margin: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  display: flex;
  justify-content: space-around;
  width: 40%;
  list-style: none;
}

main {
  height: 100%;
  background-image: url("../public/images/react-icon-light.png");
  background-repeat: no-repeat;
  background-position: center right;
}

.main-title {
    letter-spacing: -0.05px;
    padding: 20px;
}

.main-facts {
  padding-left: 80px;
}

.main-facts li {
  padding-top: 10px;
}

.main-facts li::marker {
    font-size: 1.2rem;
    color: #61DAFB;
}

.dark {
  background-color: #282D35;
  color: white;
}