body {
  background-color: #282D35;
  background-image: url("../public/reactjs-icon\ 2.png");
  background-repeat: no-repeat;
  background-position: center right;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.header {
  background-color: #21222A;
}


.logo-img {
  width: 50px;
  margin: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  display: flex;
  justify-content: space-around;
  width: 40%;
  list-style: none;
}

main {
  margin: 50px 30px;
}

.main-title {
    color: white;
    letter-spacing: -0.05px;
}

.main-facts {
  width: 330px;
}

.main-facts li {
  padding-top: 10px;
}

.main-facts li::marker {
    font-size: 1.2rem;
    color: #61DAFB;
}

footer {
  margin-top: 50px;
}